In [135]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix

In [75]:
books = pd.read_csv("BX-Books 2.csv", sep=";", on_bad_lines='skip',encoding= "latin-1")

C:\Users\HP\AppData\Local\Temp\ipykernel_7340\1146994765.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("BX-Books 2.csv", sep=";", on_bad_lines='skip',encoding= "latin-1")

In [76]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [77]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [78]:
books = books[["ISBN",'Book-Title','Book-Author','Year-Of-Publication','Publisher']]

In [79]:
books.sample(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
109581,0940672103,Easy Going,Leon Hale,1983,Shearer Publishing
260053,0064420655,The Revenge of the Pirate Ghost (Black Cat Clu...,Susan Saunders,1997,HarperTrophy
226322,0373165528,Pauper And The Princess (Harlequin American Ro...,Karen Toller Whittenburg,1994,Harlequin
7655,0847813754,Ralph Eugene Meatyard: An American Visionary,Ralph Eugene Meatyard,1991,Akron Art Museum
214549,0440203481,The Dark and Deadly Pool (Laurel-Leaf Suspense...,Joan Lowery Nixon,1989,Laure Leaf

In [80]:
books = books.rename(columns={"Book-Title" : "title", "Book-Author" : "author" , "Year-Of-Publication" : "year","Publisher" : "publisher","ISBN" : "isbn"})

In [81]:
books.sample(5)

,isbn,title,author,year,publisher
228056,1573441716,Highsmith: A Romance of the 1950's,Marijane Meaker,2003,Cleis Press
125660,0441011934,Heroics For Beginners,John Moore,2004,Ace Books
122989,0425143511,Remember the Alibi,Elizabeth Daniels Squire,1994,Berkley Publishing Group
260659,0515124303,Gossamer,Rebecca Hagan Lee,1999,Jove Books
237564,0307039331,Little Monster at Home-Mrrgld,Golden Books,1991,Golden Books

In [82]:
users = pd.read_csv("BX-Users.csv", sep=";", on_bad_lines='skip',encoding= "latin-1")

In [83]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [84]:
users.rename(columns={'User-ID':'user_id',"Location" : 'location','Age' : 'age'},inplace=True)

In [85]:
users.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [86]:
ratings = pd.read_csv("BX-Book-Ratings.csv", sep=";", on_bad_lines='skip',encoding= "latin-1")

In [87]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [88]:
ratings.rename(columns={"User-ID" : "user_id","ISBN" : 'isbn',"Book-Rating" : "rating"},inplace=True)

In [89]:
ratings.head()

   user_id        isbn  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [90]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271371 entries, 0 to 271370
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   isbn       271371 non-null  object
 1   title      271371 non-null  object
 2   author     271369 non-null  object
 3   year       271371 non-null  object
 4   publisher  271369 non-null  object
dtypes: object(5)
memory usage: 10.4+ MB

In [91]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   278858 non-null  int64
 1   location  278858 non-null  object
 2   age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [92]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1149780 non-null  int64
 1   isbn     1149780 non-null  object
 2   rating   1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [93]:
x =ratings['user_id'].value_counts()>200
y = x[x].index

In [94]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       116122,  44296,  28634,  59727,  73681, 274808, 188951,   9856, 155916,
       268622],
      dtype='int64', name='user_id', length=899)

In [96]:
ratings = ratings[ratings['user_id'].isin(y)]

In [97]:
ratings.shape

(526356, 3)

In [98]:
ratings['user_id'].value_counts().shape

(899,)

In [99]:
ratings.head()

      user_id        isbn  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [100]:
ratings_with_books = ratings.merge(books,on='isbn')

In [101]:
ratings_with_books.head(5)

,user_id,isbn,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books

In [102]:
ratings_with_books.shape

(487681, 7)

In [113]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [114]:
number_rating.rename(columns={'rating' : 'no of rating'},inplace=True)

In [116]:
number_rating.head(5)

                                               title  no of rating
0   A Light in the Storm: The Civil War Diary of ...             2
1                              Always Have Popsicles             1
2               Apple Magic (The Collector's series)             1
3   Beyond IBM: Leadership Marketing and Finance ...             1
4   Clifford Visita El Hospital (Clifford El Gran...             1

In [118]:
final_rating = ratings_with_books.merge(number_rating,on='title')
final_rating.head()

,user_id,isbn,rating,title,author,year,publisher,no of rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,1
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,13

In [122]:
final_rating =final_rating[final_rating['no of rating']>=50]

In [123]:
final_rating.shape

(61853, 8)

In [126]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [127]:
final_rating.shape

(59850, 8)

In [128]:
final_rating.head()

,user_id,isbn,rating,title,author,year,publisher,no of rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,133
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,108
18,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,108
24,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,79

In [129]:
book_pivot = final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [133]:
book_pivot.fillna(0,inplace=True)

In [134]:
book_pivot.head()

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [136]:
book_parse = csr_matrix(book_pivot)

In [137]:
type(book_parse)

scipy.sparse._csr.csr_matrix

In [141]:
from sklearn.neighbors import NearestNeighbors

In [142]:
model = NearestNeighbors(algorithm='brute')

In [144]:
model.fit(book_parse)

NearestNeighbors(algorithm='brute')

In [146]:
distances, suggestions = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [147]:
distances

array([[ 0.        , 67.75691847, 68.05145112, 72.277244  , 75.81556568,
        76.30203143]])

In [148]:
suggestions

array([[237, 238, 240, 241, 184, 536]])

In [167]:
recommended = []
for i in range(len(suggestions)):
    recommended.append(book_pivot.index[suggestions[i]])

In [168]:
recommended

[Index(['Harry Potter and the Chamber of Secrets (Book 2)',
        'Harry Potter and the Goblet of Fire (Book 4)',
        'Harry Potter and the Prisoner of Azkaban (Book 3)',
        'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
        'The Cradle Will Fall'],
       dtype='object', name='title')]

In [ ]:
final_rating[final_rating['title'] i]